@using FinalMVC.DAL.Entities;
@model List<Course>

@foreach (var item in Model)
{
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="single-course mb-70">
            <div class="course-img">
                <a asp-controller="course" asp-action="details" asp-route-id="id">
                    <img src="~/img/course/@item.ImageUrl" alt="course">
                    <div class="course-hover">
                        <i class="fa fa-link"></i>
                    </div>
                </a>
            </div>
            <div class="course-content">
                <h3><a asp-controller="course" asp-action="details" asp-route-id="@item.Id">@item.Title</a></h3>
                <p>@item.Description</p>
                <a asp-controller="course" asp-action="details" asp-route-id="@item.Id" class="default-btn">read more</a>
            </div>
        </div>
    </div>
}