@{
    BlogViewModel blogViewModel = Model;
    var blogs = blogViewModel.Blogs;
    var pageCounts = blogViewModel.PageCounts;
}

<!-- Banner Area Start -->
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>blog</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Blog Start -->
<div class="blog-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <partial name="_BlogPartial" model="@blogs"> </partial>
        </div>

        <div class="row">
            <div class="row justify-content-center align-content-center">
                <input value="@ViewBag.BlogCount" type="hidden" id="blogCount" />
                <button class="btn btn-primary" id="loadBlog">Load more</button>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->
